:root {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: #EAEDED;
}

::-webkit-scrollbar {
  width: 13px;
  height: 0px;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: rgba(136, 136, 136, 0.363);
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: rgba(85, 85, 85, 0.411);
}

header section nav div .nav-link {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

header section nav div form .form-control {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

header section nav div form .btn {
  background-color: #28A494;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

header section nav div form .btn:hover {
  background-color: #2DDAA2;
}

nav .dropdown .dropdown-toggle.btn {
  font-weight: bold;
}

nav .show.dropdown .dropdown-toggle.btn.show {
  color: white;
}

nav .dropdown .dropdown-toggle.btn:hover {
  color: white;
}